*
{
    padding: 0;
    margin: 0;
}
.btn-forza
{
    color: white;
   background-color: rgb(216, 238, 14);
    margin-right: 5px;
    border-radius: 20px;
}
#logo{
    height: 80px;
    width: 150px;
}
#navbarDropdown
{
    color: palegoldenrod;
}
#navbarDropdown:hover
{
    color: white;
}
.dropdown-menu
{
    background-color: rgba(0,0,0,0.5);
}
.dropdown-item
{
    color: white;
}
#main .d-block 
{
    height: 90vh;
}
#carousel
{
    position: relative;
}
#carousel .overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
#rastrer
{
    width: 40px;
}
#calculator
{
    width: 40px;
}
.buttoncotizador:hover
{
    background-color: white;
    cursor: pointer;
    transition: 700ms all;
    transform: scale(1.3);
}
#caja
{
    width: 40px;
}
#sobre
{
    width: 40px;
}
#contenedor
{
   background-color: rgb(13, 15, 43);
    color: white;
    width: 100%;
    height: 100%;
}
#fotocontenedor
{
    width: 100%;
}
#formClonar
{
    border: 5px solid black;
}
h3
{
    text-align: center;
}
h6
{
    text-align: center;
    margin: 0px;
}
.tabla
{
   background-color: rgb(13, 15, 43);
    color: white;
    border: 5px solid black;
    width: 100%;
}
td
{
    border: 1px solid black;
    text-align: center;
}
th
{
    border: 1px solid black;
    text-align: center;
}
.Color a
{
    color: palegoldenrod;
}



